FENFA_HOST=http://localhost
FENFA_PORT=12000
FENFA_TEMPLATE_INCLUDES_PORT: true
FENFA_DEFAULT_EXPIRATION_PERIOD=86400
FENFA_FAILED_ATTEMPT_LIMIT=10
FENFA_MAX_ZIP_DEPTH=3
FENFA_MAX_ZIP_SIZE=10737418240